@charset "utf-8"

$fa-font-path: "/fonts" !default


@import '~bulma'
@import '~font-awesome/scss/font-awesome'

@import 'animate'

@import 'elements/_all'
@import 'components/_all'

.button
  &:active
    outline: none

input:-webkit-autofill
    -webkit-box-shadow: 0 0 0 1000px white inset

html,body
  padding: 0
  margin: 0


[contenteditable]:focus
  outline: 0 solid transparent
